/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


article img {
    width: 100%;
}

body nav{
    background-color: rgb(34,34, 34);
}
.wrapper{
    background-color: rgb(199, 139, 7);
    width:100%;
    margin: 0 auto;
    /* height:160px;
    margin: 15px 15px 0 0;  */
}

nav{
    display:block;
    width:100%;
    text-align:center;
}

nav li{
    /* margin: 40px; */
    /* padding: 20px; */
    overflow: visible;
    float: middle;
}

li a{
    display: block;
    padding: 20px;


    color:rgb(199, 139, 7);
    text-decoration: none;
    font-size: 20px;
}


ul li a:hover {
    background-color: rgb(199, 139, 7);
    color: #222; 
}

ul li a.active{
    background-color: rgb(199, 139, 7);
    color: #222;
}


form{
    /* width: 500px; */
    margin: 5px auto;
    display:inline-flexbox;
}


form input {
    height: 30px;
    width: 90%;
}


.fa-magnifying-glass{
    color:#c78c06;
    position:relative;
    left: 240px;
    bottom:25px;
    width: 100%;
}

/* container holding the image and the text */
.container{
    /* position:relative; */
    margin:0 auto;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.container .main-title{
    /* position: absolute;
    bottom: 220px; */
    font-size: 60px;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 20px;
}

.container .welcome{
    /* position:absolute; */
    color: white;
    /* bottom:152px; */
    background: rgba(0,0,0,0.5);
    padding: 10px;
    padding-bottom: 100px; 
}

.container a{
    font-size: large;
    position: relative;
    bottom: 60px;
    left: 10px;
    font-weight:bold;
    background-color: #c78c06;
    color: #222;
    padding: 20px;
    text-decoration: none;  
}

.about-section{
    background-color: #ffe6ac;
}

.about-image{
    width: 90%;
    padding-left: 20px;
    padding-top: 20px;
}

#about-us{
    font-size: 50px;
    font-weight: bold;
    padding:20px;
}

.about-content p{
  font-size: larger;
  padding: 20px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    padding:20px;
}

.services{
    background-color: white;
}

p{
    font-size: larger;
    padding: 15px;
}

a{
    background-color:black;
    color: white;
    font-size: large;
    padding: 25px;
    padding-bottom: 10px;
    text-decoration: none;
}

.digital{
    background-color: #ffe6ac;
}

h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;
}

.marketing{
    margin-top: 15px;
    background-color: #ffe6ac;
}


.video{
    margin-top: 15px;
    background-color: #ffe6ac;
}

.web{
    margin-top: 15px;
    background-color: #ffe6ac;
}

.print{
    margin-top: 15px;
    background-color: #ffe6ac;
}

.vision{
    background-size: cover;
    background-position: center;
    background-image: url(../images/vision.jpg);
    margin-top: 15px;
}

.vision h1{
    color: white;
}

.vision p{
    color: white;
}

.vision a{
    background-color: rgb(18,30,48);
    border-style: solid;
    border-width: 2px;
    border-color: #c78c06;
}

.team{
    background-color: #ffe6ac;
}

.team h4{
    padding-left: 20px;
    font-weight: bold;
    font-size: large;
}

/* yellow border */
hr{
    border-top:2px solid #c78c06;
}

 
input[type=submit]{
    background-color: #222;
    color:#c78c06;
    width: 15%;
}
